
/**For Dev specific changes**/
.budget-center
{
	
	/**For dev environment **/
	margin:10px 0 0 6px\9;
	
}

.shiploc
{
	
	/**For dev environment**/
	margin:0px 0px 0px 0px\9;	
	
}

.cart
{
	
	margin:-10px 0px 0px 0px\9;
}

.quickorder-col-left-2{
	
	padding: 19px 25px 0 0;
}
